<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="Suffix_0" value="A" />
    <add key="FolderSwift_0" value="C:\Developpement\Tests_dev\Swift\In" />
    <add key="ExcelFileName" value="C:\Developpement\Tests_dev\TestSwift.xlsx" />
    <add key="FolderTextFiles" value="C:\Developpement\Tests_dev\" />
    <add key="Extension" value=".txt" />
    <add key="FolderSwift" value="C:\Developpement\Tests_dev\" />
  </appSettings>
</configuration>