<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.7.0-develop00310" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.7.0-develop00310" targetFramework="net461" />
  <package id="Ookii.Dialogs.Wpf" version="1.1.0" targetFramework="net461" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="18.2.0.58" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.2.0.58" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.Wpf" version="18.2.0.58" targetFramework="net461" />
</packages>